/*Global*/

.global-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  background: darkgray;
}

body {
  background: grey;
  font: 14/1.5 Josefin Sans;
  box-sizing: content-box;
}

a {
  color: white;
  text-decoration: none;
}

/*Global Section*/


.section-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #1d2050;
}

.section-title-container {
  font-size: 3em;
  letter-spacing: 3px;
  color: white;
}

/*Twin Pics & Title Above The Fold*/

.main-title {
  position: absolute;
  top: 20%;
  font-size: 2.5em;
  color: white;
  z-index: 5;
}
.twin-pics {
  position: relative;
}

.twin-pics {
  display: flex;
  justify-content: center;
  height: 360px;
}

.twin-pics .left-side {
  width: 50%;
  background: orange;
}

.twin-pics .right-side {
  width: 50%;
  background: red;
}

.twin-pics img {
  width: 100%;
  height: 100%;
  filter: brightness(20%);
}

/*Navigation Menu*/

nav.main-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #1d2023;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
}

ul.main-menu-list {
  display: flex;
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 25%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Josefin Sans, sans-serif;
  letter-spacing: 1px;
  color: white;
  border-right: 5px solid black;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.main-menu-list a:hover {
  background: lightblue;
  color: black;
  font-size: 20px;
}

.main-menu-list a:first-child {
  border-bottom-left-radius: 5px;
}

.main-menu-list a:last-child {
  border-right: none;
  border-bottom-right-radius: 5px;
}

/*About Me*/

.twin-about-me {
  display: flex;
  padding: 80px 50px 0px 50px;
}

.twin-about-me .left-side {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.twin-about-me .topic {
  font: 2em/1.5 Arial, sans-serif;
  font-weight: bold;
}

.description {
  font: 1.5em/1.5 Arial, sans-serif;
  margin-bottom: 30px;
}

.twin-about-me .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.name {
  margin: 50px 0px 50px 0px;
  font-size: 2em;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
}

.fa {
  color: black;
  text-decoration: none;
  transform: scale(4, 4);
  transition-property: color, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.fa:hover {
  transform: scale(5, 5);
  color: darkorange;
}

/*Project Section*/

.projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  margin: 10px 0px;
}

/*Contact Me Section*/

.contact-me-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  margin: 10px 0px;
}

/*Footer Section*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: black;
  height: 125px;
}
